body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: beige; 
    color: #333;
}

header {
    background-color: burlywood; 
    color: #6d4c41;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.cart-items {
    flex: 2;
}

.cart-item {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.item-details {
    flex: 1;
}

.cart-summary {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(150, 150, 150, 0.1); 
}

button {
    background-color: #d2b48c; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #b98c72;
}

footer {
    background-color: burlywood;
    padding: 10px;
    text-align: center;
    color: #6d4c41;
    margin-top: auto;
    
}
