body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

p{
    justify-content: center;
    text-align: center;
    color: #6d4c41;
}

header {
    background-color: #d2b48c;
    color: #6d4c41;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
}

nav {
    background-color: #d2b48c;
    border-bottom: 2px solid #d2b48c;
    justify-content: center;
    display: flex;
    background-color: #d2b48c;
    padding: 10px;
    padding-left: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #6d4c41;
    font-weight: bold;
}

main {
    padding: 20px;
}

section.landing-content {
    text-align: center;
}

.welcome-message {
    background-color: burlywood;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.welcome-message h1,
.welcome-message p {
    color: #6d4c41;
}

.description p {
    margin-bottom: 20px;
}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature {
    width: 30%;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.feature img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.image-gallery {
    display: flex;
    justify-content: space-around;
}

.gallery-item {
    width: 30%;
}

.gallery-item img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.footer-items {
    display: flex;
    justify-content: space-around;
    background-color: #d2b48c;
    padding: 20px;
}

.footer-item h3 {
    color: #6d4c41;
}

.footer-item ul {
    list-style-type: none;
    padding: 0;
}

.footer-item li {
    margin: 5px 0;
}

.footer-item a {
    text-decoration: none;
    color: #6d4c41;
}

.footer-item p {
    margin: 5px 0;
}

.footer-item a:hover {
    font-weight: bold;
}

img {
    height: 100%;
}

.active {
    border-radius: 5px;
    padding: 8.5px;
    background-color: burlywood;
}
