body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url("Background/background2.jpg");
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
p{
    color: #6d4c41;
}

.signup-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.signup-img-container img {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 20px;
}

h2 {
    color: #6d4c41; 
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    position: relative;
}

i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #6d4c41; 
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 200px;
    background-color: #b98c72; 
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #955c3d; 
}
